@import url(./style.css);

.ibdrhn-hd{
    font-family: var(--heading);
    font-size: var(--big);
}
.ibdrhn-shd{
    font-family: var(--body);
    font-size: var(--mid);
}
.ibdrhn-flex{
    display: flex;
}
.ibdrhn-grid{
    display: grid;
}
.ibdrhn-mrg{
    margin: 30px;
}
.ibdrhn-brand{
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--black);
    color: var(--white);
    font-family: var(--heading);
    padding: 5px;
}
body{
    width: 100%;
    height: 100vh;
}
main{
    width: 100;
}