/* All the variables are here */
:root{
    /* Colors */
    --primary: #59ADFF;
    --secondary: #90C418;
    --accent: #FC4850;
    --mark: #F8C822;
    --black: #111111;
    --black-50: #878787;
    --white: #FFFCFC;
    /* Gradient */
    --lg-heading: linear-gradient(90deg,var(--primary) 0% 25%,var(--secondary)25% 50%,var(--accent)50% 75%,var(--mark) 75% 100%);
    --lg-bg: linear-gradient(45deg,var(--primary),var(--secondary),var(--accent),var(--mark));

    /* typography*/
    --ff-thin: "Poppins", sans-serif;;
    --ff-thick:"Righteous", sans-serif;;
    --fw-light: 300;
    --fw-mid: 500;
    --fw-bold: 700;
    --fs-body: 15px;
    --fs-sml-body: 10px;
    --fs-subheading: 20px;
    --fs-heading: 26px;
    --fs-title: 36px;

    /* border */
    --b-body: 2px solid var(--black-50);
    --b-btn: 2px solid var(--black);
    /* fot testing purpose */
    --b-test: 2px solid red;

}